@import "./vars.scss";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

html {
	box-sizing: border-box;
	height: 100%;
	font-family: var(--main-font);
}

body {
	font-family: var(--main-font);
	background-color: var(--background-color);
	color: var(--font-color);
	margin: auto;
	transition: 0.1s linear;
}
// .svg {
// 	width: 24px;
// 	height: 24px;
// }
