@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500&display=swap");

:root {
	// --main-font: "Roboto", sans-serif;
	// --main-font: "Oxygen", sans-serif;
	--main-font: "Ubuntu", sans-serif;
	--color-white: #fff;
	--color-black: #000;
	--color-grey: #dadce0;
	--main-color: #0d1117;
	--popup-bg-color: rgba(5, 5, 5, 0.06);
}
:root[data-theme="light"] {
	--header-bg-color: #fff;
	--background-color: #e5eaf1;
	--font-color: #000;
	--color-border: rgba(5, 5, 5, 0.06);
	--input-color: #fff;
	--form-background: #fafafa;
	--btn-color: #fff;
	--btn-hover: #1677ff;
	--btn-hover-border: #1677ff;
	--btn-bg-color: #fafafa;
	--dropdown-hover: rgba(5, 5, 5, 0.3);
}

:root[data-theme="dark"] {
	--header-bg-color: #161b22;
	--background-color: #0d1117;
	--font-color: #fff;
	--color-border: #30363d;
	--input-color: #0d1117;
	--form-background: #161b22;
	--btn-color: #1677ff;
	--btn-hover: #fff;
	--btn-hover-border: #0d1117;
	--btn-bg-color: #168eff;
	--dropdown-hover: rgb(0%, 0%, 0%, 0.5);
}
