.footerLinks {
	color: var(--font-color);
	text-decoration: none;
	display: block;
	text-align: center;
	padding: 12px;
	i {
		margin-right: 8px;
	}
}
.footerDivider {
	margin: 0;
	border-block-start: 1px solid var(--color-border);
}
