.stack {
	ul {
		display: flex;
		flex-direction: row;
		list-style: none;
		padding-left: 20px;

		li {
			position: relative;
			display: flex;
			flex-direction: row;
			justify-content: center;
			text-align: center;
			font-weight: 500;
			a:after {
				content: "";
				mask: url("../../../Shared/assets/img/any/arrowRight.svg") no-repeat 50%
					50%;
				width: 24px;
				height: 24px;
				background-color: #999;
				position: absolute;
				top: 10px;
			}
		}
	}
	h2 {
		color: var(--disk-font-content-color);
		margin: 2px;
	}
}
.title {
	&:hover {
		color: var(--disk-font-content-color);
	}
}
.currenDir {
	margin: 0;
	margin-left: 40px;
	position: relative;

	a {
		text-decoration: none;
		color: var(--disk-font-content-color);
	}
	:before {
		content: "";
		mask: url("../../../Shared/assets/img/any/arrowBack.svg") no-repeat 0 0 /34px
			40px;
		width: 44px;
		height: 44px;
		background-color: var(--disk-font-content-color);
		position: absolute;
		left: -38px;
		top: -10px;
	}
	:hover::before {
		opacity: 0.7;
	}
}

.header {
	color: #999;
	text-decoration: none;
	padding: 12px;
}

header:visited {
	color: brown;
}

li :hover {
	color: var(--disk-font-content-color);
}
