.error {
	// animation: 0.5s show ease-in;
	position: absolute;
	// transform: translateY(-50%);
	animation: show 1s forwards;
	color: red;
	// animation-name: show;
	// animation-duration: 2s;
	// animation-iteration-count: 1;
	// animation-direction: normal;
	// animation-timing-function: ease-out;
	// animation-fill-mode: forwards;
	// animation-delay: 0s;
}

@keyframes show {
	// from {
	// 	opacity: 0;
	// }
	// to {
	// 	opacity: 1;
	0% {
		opacity: 0;
		transform: translateY(-50%);
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
	// }
}
.btn {
	padding: 0;
	border: none;
	outline: none;
	background-color: #fff;
	i {
		font-size: 22px;
	}
	&:hover {
		i {
			opacity: 0.7;
			cursor: pointer;
		}
	}
}

.create {
	align-self: flex-end;
}
.header {
	display: flex;
	justify-content: space-between;
}
.title {
	margin: 10px;
	color: black;
}
.form {
	margin: 12px auto 0 auto;
	width: 90%;
	button {
		float: right;
	}
}
