.input {
	font-family: var(--input-font);
	font-size: 17px;
	letter-spacing: 0.02rem;
	background-color: var(--search-bg-color);
	// opacity: 0.6;
	line-height: 12px;
	border-radius: 19px;
	border: none;
	height: 28px;
	max-width: 340px;
	width: 100vw;
	padding: 4px 4px 5px 17px;
	color: var(--disk-font-content-color);
	transition: all 0.2s ease-out;
	&:focus {
		background-color: var(--search-focus-color);
		max-width: 420px;
		width: 100vw;
		outline: none;
		border: none;
		.searchLogo {
			background-color: black;
		}
	}
}
.searchInput {
	position: relative;
	margin-left: 55px;
}
.searchLogo {
	position: absolute;
	top: 8px;
	right: 1px;

	i {
		font-size: 17px;
		color: #979797;
	}
}
.searchClear {
	position: absolute;
	cursor: pointer;
	// z-index: 99999;
	top: 5px;
	right: 1px;
	i {
		color: #979797;
	}
	&:hover {
		i {
			color: #979797;
		}
	}
}
