.rightBlock {
	position: relative;
	background-color: var(--disk-bg-color);
	width: 100%;
	padding: 8px 8px 40px 8px;
	border-bottom-right-radius: 22px;
	border-top-right-radius: 22px;
}
.topMenu {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footerLinks {
	color: var(--font-color);
	text-decoration: none;
	display: inline-block;

	// text-align: end;
	padding: 8px 14px;
	position: absolute;
	bottom: 1px;
	right: 1px;
	// display: flex;
	// justify-content: flex-end;
	// align-content: flex-end;

	// float: right;

	i {
		margin-right: 8px;
	}
}
.searchTitle {
	font-family: var(--main-font);
	margin: 20px auto 15px 20px;
}
