.btn {
	display: block;
}
.wrapper {
	max-width: 1200px;
	margin: auto;
}
.btnBlock {
	margin: 30px auto;
	width: 200px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.input {
	display: none;
}
.lable {
	border: 1px dashed black;
	padding: 2px 10px;
	cursor: pointer;
}
