.registration {
	max-width: 700px;
	max-height: 400px;
	width: 100%;
	margin: 200px auto;
	border-radius: 10px;
	border: 1px solid var(--color-border);
	background-color: var(--form-background);
}

.form {
	margin: auto;
	padding: 60px 30px;
}
