@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300&display=swap");

:root {
	--main-font: "Roboto", sans-serif;
	--color-white: #fff;
	--color-black: #000;
	--color-grey: #dadce0;
	--color-red: #f00;
	--color-green: #00a340;
	--color-dark: #141414;
	--color-light-dark: #1f1f1f;
	--color-primary: #005382;
	--color-dark-primary: #003f63;
}
