.uploader {
	margin-right: 16px;
	display: none;
	height: 380px;
	width: 350px;
	position: fixed;
	// color!!!!!!!!!!!
	background-color: var(--uploader-bg-color);
	bottom: 0;
	right: 0;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;

	box-shadow: 0 2px 8px rgb(0 0 0 / 30%);
}
.visibleUploader {
	display: block;
	animation: animate-visible 0.1s linear;
}
@keyframes animate-visible {
	0% {
		transform: translateY(200px);
	}

	100% {
		transform: translateY(0);
	}
}
.hidindUploader {
	display: block;
	animation: animate-hide 0.2s forwards;
}
@keyframes animate-hide {
	0% {
		transform: translateY(0);
	}

	100% {
		display: none;
		transform: translateY(500px);
		opacity: 1;
	}
}
.header {
	display: flex;
	justify-content: space-between;

	background-color: var(--uploader-header-color);
	overflow: hidden;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	padding: 15px 20px;
	.upClose {
		// background-color: #2881fd;
		background-color: var(--uploader-header-color);
		height: 24px;
	}
}
.title {
	color: #fff;
	position: relative;
	margin: 0;
	display: flex;
	align-items: center;
}
.upClose {
	font-size: large;
	padding: 3px;
	color: #fff;
	background-color: #fff;
	border: none;
	cursor: pointer;
	&:hover {
		opacity: 0.7;
	}
}
.content {
	height: 330px;
	overflow-y: auto;
}
