.button {
	width: 120px;
	font-family: var(--main-font);
}
.confirmBtn {
	text-align: right;
}
.form {
	input {
		background-color: var(--input-color);
	}
	:global {
		.ant-form-item-label {
			color: var(--font-color);
			label {
				color: var(--font-color);
				font-family: var(--main-font);
				letter-spacing: 0.2px;
			}
		}
		.ant-form-item-control-input-content {
			input {
				color: var(--font-color);
				font-family: var(--main-font);
			}
			label {
				color: var(--font-color);
				font-family: var(--main-font);
				// background-color: var(--font-color);
			}
			.ant-input-password-icon {
				color: var(--font-color);
			}
		}
		.ant-form-item-control-input-content {
			.ant-input-affix-wrapper {
				background-color: var(--input-color);
			}
		}
		// .ant-checkbox-input:not(:checked) {
		// 	.ant-checkbox-inner {
		// 		background-color: var(--main-color);
		// 	}
		// }
	}
}
// .authLabel {
// 	color: var(--font-color);
// 	label {
// 		color: var(--font-color);
// 	}
// }
