.sortFileList {
	position: relative;
}

.btn {
	position: relative;
	box-sizing: border-box;
	padding: 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	height: 40px;
	box-shadow: 0 0 0 1px rgb(0 0 0 / 5%), 0 1px 0 1px rgb(0 0 0 / 5%),
		0 4px 6px 0 rgb(0 0 0 / 5%);
}

.arrowRotateDown {
	rotate: 180deg;
}

.sortLogo {
	margin: 0 4px;
	width: 22px;
	height: 22px;
}
.sortLogoAsc {
	rotate: 180deg;
	transform: scaleX(-1);
}
.sortTitle {
	margin: 0 2px;
	// font-weight: 500;
}
.img {
	margin: 0 4px;
}
.sortPopup {
	overflow: hidden;
	position: absolute;
	top: 47px;
	z-index: 999;
	width: 130px;
	// height: 200px;
	box-shadow: 0 0 0 1px rgb(0 0 0 / 5%), 0 1px 0 1px rgb(0 0 0 / 5%),
		0 4px 6px 0 rgb(0 0 0 / 5%);
	background-color: #fff;
	border-radius: 8px;
	animation: visible-popup 0.05s linear forwards;
}
@keyframes visible-popup {
	from {
		opacity: 0.4;
		transform: translateY(20px);
	}
	to {
		opacity: 1;
		transform: translateY(0px);
	}
}
.outline {
	border-top: 1px solid rgba($color: #6e6e6e, $alpha: 0.2);
}
.topBlock {
	color: #000;
}
.bottomblock {
	color: #000;
}
.popupContent {
	color: #000;
}
.popupItem {
	cursor: pointer;
	position: relative;
	padding: 6px;
	color: #000;
	text-align: left;
	align-items: center;
	display: flex;
	&:hover {
		background-color: rgba(153, 147, 147, 0.2);
	}
	span {
		display: inline-block;
		width: 24px;
		height: 24px;
		margin-right: 5px;
	}
}
.sortActive {
	&:before {
		content: "";
		mask: url("../../../Shared/assets/img/any/check.svg") no-repeat 0 0 /18px 27px;
		width: 24px;
		height: 24px;
		background-color: black;
		position: absolute;
		top: 4px;
	}
}
