.btn {
	display: block;
}
.wrapper {
	// max-width: 1200px;
	margin: 0 auto 10px auto;
}

.dropArea {
	width: 97vw;
	// height: calc(100vh - 130px);
	height: calc(100vh - 130px);
	margin: 20px auto;
	border: dashed var(--btn-hover-border) 2px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 40px;
}
.marginBottom {
	width: 100%;
	height: 1px;
	opacity: 0;
}
.disk {
	// box-shadow: 1px 1px 7px 1px rgba(34, 60, 80, 0.06);
	// background-color: aqua;
	// box-shadow: 0 2px 4px rgb(58 66 75 / 20%);
	display: flex;
	flex-direction: row;
	// min-height: calc(100vh - 85px);
	min-height: 120vh;
	// max-width: calc(100vw - 1);
	max-width: 98vw;
	width: 100%;
	margin: 0 auto 10px auto;
	// box-shadow: 3px 2px 7px 3px rgba(34, 60, 80, 0.1);
	// overflow: hidden;
	// border-radius: 16px;
}
