.file {
	// margin: 10px 0;
	// border-bottom: solid 1px var(--color-border);
	position: relative;
	display: grid;
	grid-template-columns: 0.5fr 5fr repeat(4, 1fr);
	align-items: center;
	border-radius: 8px;
	height: 52px;

	&:hover {
		background-color: var(--file-hover-color);
		// background-color: rgba(153, 147, 147, 0.2);
		// background-color: var(--hover-popupItem-color);
	}
}
.active {
	background-color: var(--file-hover-color);
	&:hover {
		background-color: var(--file-hover-active-color);
	}
}
.name {
	font-size: 14px;
	// letter-spacing: 0.3px;
	color: var(--disk-font-content-color);
}
.logo {
	justify-self: center;
	width: 40px;
	height: 40px;
}
.img {
	border: 1px solid rgba(153, 147, 147, 0.2);
	object-fit: cover;
	justify-self: center;
	width: 40px;
	height: 40px;
}
.date {
	grid-column-start: 4;
	justify-self: right;
	color: #999;
	font-size: 13px;
	line-height: 22px;
}
.time {
	grid-column-start: 5;
	justify-self: center;
	color: #999;
	font-size: 13px;
	line-height: 22px;
}
.size {
	grid-column-start: 6;
	justify-self: center;
	color: #999;
	font-size: 13px;
	line-height: 22px;
}
