.file {
	// position: relative;
	display: grid;
	grid-template-columns: 0.5fr 5fr repeat(4, 1fr) 0.1fr;
	align-items: center;
	border-radius: 8px;
	height: 52px;

	&:hover {
		background-color: var(--file-hover-color);
	}
	.img {
		border: 1px solid rgba(153, 147, 147, 0.2);
		object-fit: cover;
		justify-self: center;
		width: 40px;
		height: 40px;
	}
	.logo {
		justify-self: center;
		width: 40px;
		height: 40px;
		filter: var(--fileItem-drop-shadow);
	}
}
.fileTiles {
	border-radius: 8px;
	box-sizing: border-box;
	width: 110px;
	height: 155px;
	display: flex;
	margin-right: 12px;
	flex-direction: column;
	text-align: center;
	align-items: center;
	padding: 9px;
	overflow: hidden;
	text-overflow: ellipsis;
	.img {
		object-fit: cover;
		margin: auto;
		width: 75px;
		height: 85px;
	}
	.imgWrapper {
		display: flex;
		width: 85px;
		height: 95px;
	}
	&:hover {
		background-color: var(--file-hover-color);
	}
	.name {
		margin-top: 4px;
		overflow-wrap: break-word;
		text-overflow: ellipsis;
		width: 90px;
		max-height: 35px;
		overflow: hidden;
	}
	.logo {
		justify-self: center;
		width: 85px;
		height: 95px;
		filter: var(--fileItem-drop-shadow);
	}
}
.largeTiles {
	border-radius: 8px;
	box-sizing: border-box;
	width: 130px;
	height: 190px;
	display: flex;
	margin-right: 20px;
	flex-direction: column;
	text-align: center;
	align-items: center;
	padding: 9px;
	overflow: hidden;
	text-overflow: ellipsis;
	.img {
		object-fit: cover;
		margin: auto;
		width: 105px;
		height: 115px;
	}
	.imgWrapperLarge {
		width: 115px;
		height: 135px;
		display: flex;
	}
	&:hover {
		background-color: var(--file-hover-color);
	}
	.name {
		// margin-top: 4px;
		// white-space: pre-line;
		// width: 115px;
		// overflow: hidden;
		margin-top: 4px;
		overflow-wrap: break-word;
		text-overflow: ellipsis;
		width: 115px;
		max-height: 35px;
		overflow: hidden;
	}
	.logo {
		justify-self: center;
		width: 115px;
		height: 135px;
		filter: var(--fileItem-drop-shadow);
	}
}
.active {
	background-color: var(--file-hover-color);
	&:hover {
		background-color: var(--file-hover-active-color);
	}
}
.name {
	font-size: 14px;
	color: var(--disk-font-content-color);
}

.date {
	grid-column-start: 4;
	justify-self: right;
	color: #999;
	font-size: 13px;
	line-height: 22px;
}
.time {
	grid-column-start: 5;
	justify-self: center;
	color: #999;
	font-size: 13px;
	line-height: 22px;
}
.size {
	grid-column-start: 6;
	justify-self: center;
	color: #999;
	font-size: 13px;
	line-height: 22px;
}
