.header {
	font-family: var(--main-font);
	// height: 50px;
	// background-color: var(--header-bg-color);
	// // box-shadow: 0px 3px 4px rgba(92, 92, 92, 0.25);
	// box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5),
	// 	10px 10px 15px rgba(70, 70, 70, 0.12);
	i {
		font-size: 24px;
		margin: 0 12px;
	}
}
.name {
	font-family: var(--2another-font);
	height: 100%;
	margin: 0;
	display: flex;
	align-items: center;
	margin: auto 6px;
}
.headerContent {
	display: flex;
	justify-content: space-between;
	width: 97vw;
	margin: 4px auto;
}
.themeItem {
	display: flex;
	height: 29px;
}
.leftBlock {
	display: flex;
	align-items: center;
}
.logo {
	display: flex;
	align-items: center;
	text-align: center;

	img {
		width: 60px;
		height: 60px;
	}
}
.row {
	height: 100%;
}

.rightBlock {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.button {
	font-family: var(--main-font);
	font-size: 16px;
}
.buttonSignIn {
	color: var(--font-color);
}
.buttonSignUp {
	background-color: var(--btn-color);
	color: var(--font-color);
	border-color: var(--color-border);
}
.linkSingUp {
	transition: 0.1s linear;
	span {
		transition: 0.1s;
	}
	:global(.ant-btn) {
		&:hover {
			border-color: var(--btn-hover-border);
			background-color: var(--btn-bg-color);
			color: var(--font-color);
		}
	}
}
.logoutBtn {
	display: flex;
	align-items: center;
	img {
		width: 20px;
		height: 20px;
		margin-right: 10px;
	}
}
.headerWrapper {
	max-width: 1200px;
	width: 100%;
	margin: auto;
	height: 100%;
}
