.header {
	display: grid;
	grid-template-columns: 1fr 4fr repeat(4, 1fr);
}
.name {
	grid-column-start: 2;
}
.date {
	grid-column-start: 5;
	justify-self: center;
}
.size {
	grid-column-start: 6;
	justify-self: center;
}
.empty {
	margin-top: 20vh;
	font-family: var(--main-font);
	font-size: 20px;
	font-weight: 500;
	color: var(--disk-font-content-color);

	:global(.ant-empty-image) {
		height: 150px;
	}
}
.fileListWrapper {
	flex-grow: 1;
}
