.uploadFile {
	position: relative;
	// border-radius: 8px;
	margin: 5px 1px 10px 1px;
	padding: 10px 10px 18px 15px;
	// animation: animate-visible 0.2s linear;
	&:hover {
		background-color: var(--file-hover-color);
	}
}
@keyframes animate-visible {
	0% {
		opacity: 0;
		transform: translateX(-80px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
.hidind {
	animation: animate-hiding 0.2s forwards;
}
@keyframes animate-hiding {
	0% {
		opacity: 1;
		transform: translateX(0);
	}

	100% {
		opacity: 0;
		transform: translateX(-80px);
	}
}
.header {
	display: flex;
	justify-content: flex-end;
}
.fileName {
	max-width: 240px;
	position: absolute;
	top: 14px;
	margin-left: 38px;
	white-space: nowrap;
	overflow: hidden;
	font-size: 14px;
}
.btnRemove {
	position: absolute;
	text-align: end;
	color: var(--disk-font-content-color);
	border: none;
	cursor: pointer;
	i {
		font-size: 13px;
	}

	&:hover {
		color: var(--close-btn-horer-color);
	}
}
.progressBarBlock {
	height: 1rem;
	border-radius: 8px;
	display: flex;
	margin: 3px 0;
	height: 24px;
}
.uploadBar {
	background-color: green;
	border-radius: 8px;
}
.progress {
	margin-top: 15px;
}
.img {
	width: 32px;
	height: 32px;
	align-items: start;
	text-align: start;
	margin-right: 6px;
}
