.registration {
	max-width: 700px;
	max-height: 400px;
	width: 100%;
	margin: 200px auto;
	border-radius: 10px;
	border: 1px solid var(--color-grey);
}

.form {
	margin: auto;
	padding: 60px 30px;
}
.button {
	width: 120px;
}
.confirmBtn {
	// display: flex;
	// flex-direction: row;
	// // justify-content: space-around;
	// margin: auto 20px;
	text-align: right;
	// align-items: flex-end;
}
